node_modules

# TanStack + Vite
.nitro
.tanstack
.output
.vite

# build
dist

# TLS/HTTPS
certificates

# environment
*.env*
# below are safe to commit
!.env
!.env.development
!.env.production
!.env.test
!.env.local.template

# Serwist (https://serwist.pages.dev)
public/sw*
public/swe-worker*

# Unlighthouse (https://unlighthouse.dev)
.unlighthouse
